.wrap{
    width: 100%;
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.wrap>.img{

    flex: 1;
    height: 450px;
    flex-basis: 20%;
    flex-shrink: 0;
    flex-grow: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
