* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #000;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .return {
  width: 5vw;
  height: 5vh;
  margin-left: -90vw;
  margin-top: -85vh;
  position: absolute;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .text {
  width: 70vw;
  height: 70vh;
  flex-direction: column;
  margin-bottom: -20vh;
  line-height: 5vw;
  font-size: 1.8vw;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .text0 {
  width: 40vw;
  height: 15vh;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  list-style: none;
  margin-top: -100vh;
  font-size: 4vw;
  position: absolute;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}