html{
    font-size: 18px;
}

ul.table{
    font-size: 0.9rem;
}

@media screen and (max-width:1250px){
    html{
        font-size: 14px;
    }
}

@media screen and (max-width:680px){
    html{
        font-size: 12px;
    }
    ul.table{
        font-weight: lighter;
    }
}