
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flex ($d, $j, $a) {

    display: ($d);
    justify-content: ($j);
    align-items: ($a);
}

@mixin border {
    border: 1px solid black;
}

@mixin mobile {
    @media all and (max-width:800px) {
        @content;
    }
}

@mixin pc {

    /* PC (해상도 1024px)*/
    @media all and (min-width:1024px) {
        @content;
    }
}

body::-webkit-scrollbar {

    width: 0;
    display: none;
}

@include pc {
    #root {

        width: 100vw;
        height: 120vh;
        @include flex(flex,center,center);

        .return {

            width: 5vw;
            height: 5vh;
            margin-left: -90vw;
            margin-top: -100vh;
            position: absolute;
            cursor: pointer;
            @include flex(flex,center,center);

        }

        .con {

            width: 90vw;
            height: 90vh;
            flex-direction: column;
            margin-bottom: -20vh;
            @include flex(flex,flex-start,flex-start);
        }

        .box {

            width: 20vw;
            height: 90vh;

        }

        //----------------------------------------------------------------

        .box1 {

            width: 20vw;
            height: 5vh;
            font-size: 1.5vw;
            font-weight: bold;
            background-color: rgb(18, 88, 168);
            color: #fff;
            @include border();
            @include flex(flex,center,center);

        }

        //----------------------------------------------------------------

        .box2 {

            width: 20vw;
            height: 80vh;
            @include flex(flex,flex-start,flex-start);

        }

        .box2-1 {

            width: 9vw;
            height: 85vh;
            @include flex(flex,center,center);

        }

        .title1 {
            width: 9vw;
            height: 6.1vh;
            font-size: 1.3vw;
            font-weight: bold;
            background-color: rgb(18, 88, 168);
            color: #fff;
            @include border();
            @include flex(flex,center,center);

        }

        .textbox1 > li {

            width: 9vw;
            height: 6.1vh;
            background-color: rgb(187, 219, 255);
            list-style: none;
            font-size: 1vw;
            font-weight: bold;
            @include flex(flex,center,center);
            @include border();

        }
        .box2-2 {

            width: 11vw;
            height: 85vh;
            @include flex(flex,center,center);

        }

        .title2 {

            width: 11vw;
            height: 6.1vh;
            font-size: 1.3vw;
            font-weight: bold;
            background-color: rgb(18, 88, 168);
            color: #fff;
            @include border();
            @include flex(flex,center,center);

        }

        .textbox2 > li {

            width: 11vw;
            height: 6.1vh;
            background-color: rgb(187, 219, 255);
            list-style: none;
            font-size: 1vw;
            font-weight: bold;
            @include border();
            @include flex(flex,center,center);

        }

        //----------------------------------------------------------------

        .box0 {

            width: 70vw;
            height: 90vh;
            background-color: rgb(187, 219, 255);
            position: absolute;
            right: 5vw;
            margin-top: -5.1vh;
            @include border();
        }

        .title0 {

            width: 70vw;
            height: 10.8vh;
            font-size: 1.3vw;
            background-color: rgb(18, 88, 168);
            font-weight: bold;
            color: #fff;
            @include border();
            @include flex(flex,center,center);

        }

        .textbox0 > li {
            width: 70vw;
            height: 58.8px;
            font-size: 1vw;
            font-weight: bold;
            background-color: rgb(187, 219, 255);
            @include flex(flex,center,center);
            @include border();

        }

        .footer {

            width: 80vw;
            height: 10vh;
            position: absolute;
            margin-top: -100vh;
            font-size: 1.8vw;
            font-weight: bold;
            color: #000;
            background-color: rgb(248, 232, 6);
            @include flex(flex,center,center);
        }
    }
}


// -------------------------------------------------------------------------------

@include mobile(){

        #root {
    
            width: 100vw;
            height: 120vh;
            @include flex(flex,center,center);
    
            .return {
    
                width: 5vw;
                height: 5vh;
                margin-left: -90vw;
                margin-top: -100vh;
                position: absolute;
                font-size: 1vw;
                cursor: pointer;
                @include flex(flex,center,center);
    
            }
    
            .con {
    
                width: 90vw;
                height: 90vh;
                flex-direction: column;
                margin-bottom: -20vh;
                @include flex(flex,flex-start,flex-start);
            }
    
            .box {
    
                width: 20vw;
                height: 90vh;
    
            }
    
            //----------------------------------------------------------------
    
            .box1 {
    
                width: 20vw;
                height: 5vh;
                font-size: 2vw;
                font-weight: bold;
                background-color: rgb(18, 88, 168);
                color: #fff;
                @include border();
                @include flex(flex,center,center);
    
            }
    
            //----------------------------------------------------------------
    
            .box2 {
    
                width: 20vw;
                height: 80vh;
                @include flex(flex,flex-start,flex-start);
    
            }
    
            .box2-1 {
    
                width: 9vw;
                height: 85vh;
                @include flex(flex,center,center);
    
            }
    
            .title1 {
                width: 9vw;
                height: 6.1vh;
                font-size: 2.5vw;
                font-weight: bold;
                background-color: rgb(18, 88, 168);
                color: #fff;
                @include border();
                @include flex(flex,center,center);
    
            }
    
            .textbox1 > li {
    
                width: 9vw;
                height: 6.1vh;
                background-color: rgb(187, 219, 255);
                list-style: none;
                font-size: 1.5vw;
                font-weight: bold;
                @include flex(flex,center,center);
                @include border();
    
            }
            .box2-2 {
    
                width: 11vw;
                height: 85vh;
                @include flex(flex,center,center);
    
            }
    
            .title2 {
    
                width: 11vw;
                height: 6.1vh;
                font-size: 2vw;
                font-weight: bold;
                background-color: rgb(18, 88, 168);
                color: #fff;
                @include border();
                @include flex(flex,center,center);
    
            }
    
            .textbox2 > li {
    
                width: 11vw;
                height: 6.1vh;
                background-color: rgb(187, 219, 255);
                list-style: none;
                font-size: 1.5vw;
                font-weight: bold;
                @include border();
                @include flex(flex,center,center);
    
            }
    
            //----------------------------------------------------------------
    
            .box0 {
    
                width: 70vw;
                height: 80vh;
                background-color: rgb(187, 219, 255);
                position: absolute;
                right: 5vw;
                margin-top: -5vh;
                @include border();
            }
    
            .title0 {
    
                width: 70vw;
                height: 10.9vh;
                font-size: 3vw;
                background-color: rgb(18, 88, 168);
                font-weight: bold;
                color: #fff;
                @include border();
                @include flex(flex,center,center);
    
            }
    
            .textbox0 > li {
                width: 70vw;
                height: 48.7px;
                font-size: 1.5vw;
                font-weight: bold;
                background-color: rgb(187, 219, 255);
                @include flex(flex,center,center);
                @include border();
    
            }
    
            .footer {
    
                width: 80vw;
                height: 10vh;
                position: absolute;
                margin-top: -100vh;
                font-size: 2vw;
                font-weight: bold;
                color: #000;
                background-color: rgb(248, 232, 6);
                @include flex(flex,center,center);
            }
        }
    }
