
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flex ($d, $j, $a) {

    display: ($d);
    justify-content: ($j);
    align-items: ($a);
}

@mixin border {
    border: 1px solid black;
}

body::-webkit-scrollbar {

    width: 0;
    display: none;
}

#root {

    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    @include border();
    @include flex(flex,center,center);

    .return {

        width: 5vw;
        height: 5vh;
        margin-left: -45vw;
        margin-top: -85vh;
        position: absolute;
        color: #fff;
        cursor: pointer;
        @include flex(flex,center,center);
    
    }    

    .text {

        width: 50vw;
        height: 96vh;
        flex-direction: column;
        line-height: 8vh;
        font-size: 1.5vw;
        font-weight: bold;
        color: #fff;
        border: 3px solid white;
        border-radius: 5px;
        @include flex(flex,center,center);

    }

    .text0 {

        width: 15vw;
        height: 10vh;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        list-style: none;
        font-size: 2vw;
        @include border();
        @include flex(flex,center,center);

    }

    .text1 {
        width: 17vw;
        height: 10vh;
        list-style: none;
        font-size: 1.5vw;
        color: rgb(215, 226, 52);
    }
    .text6 {

        color: rgb(233, 221, 52);
    }

    .text7 {

        list-style: none;
        color: rgb(224, 39, 39);

    }

    .text10 {

        color: rgb(233, 221, 52);

    }

    .text11 {

        list-style: none;
        color: rgb(224, 39, 39);

    }

}
