* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

#root {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #000;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .return {
  width: 5vw;
  height: 5vh;
  margin-left: -45vw;
  margin-top: -85vh;
  position: absolute;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .text {
  width: 50vw;
  height: 96vh;
  flex-direction: column;
  line-height: 8vh;
  font-size: 1.5vw;
  font-weight: bold;
  color: #fff;
  border: 3px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .text0 {
  width: 15vw;
  height: 10vh;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  list-style: none;
  font-size: 2vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .text1 {
  width: 17vw;
  height: 10vh;
  list-style: none;
  font-size: 1.5vw;
  color: rgb(215, 226, 52);
}
#root .text6 {
  color: rgb(233, 221, 52);
}
#root .text7 {
  list-style: none;
  color: rgb(224, 39, 39);
}
#root .text10 {
  color: rgb(233, 221, 52);
}
#root .text11 {
  list-style: none;
  color: rgb(224, 39, 39);
}