@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  #root {
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .return {
    width: 5vw;
    height: 5vh;
    margin-left: -90vw;
    margin-top: -100vh;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .con {
    width: 90vw;
    height: 90vh;
    flex-direction: column;
    margin-bottom: -20vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #root .box {
    width: 20vw;
    height: 90vh;
  }
  #root .box1 {
    width: 20vw;
    height: 5vh;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: rgb(18, 88, 168);
    color: #fff;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .box2 {
    width: 20vw;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #root .box2-1 {
    width: 9vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .title1 {
    width: 9vw;
    height: 6.1vh;
    font-size: 1.3vw;
    font-weight: bold;
    background-color: rgb(18, 88, 168);
    color: #fff;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .textbox1 > li {
    width: 9vw;
    height: 6.1vh;
    background-color: rgb(187, 219, 255);
    list-style: none;
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  #root .box2-2 {
    width: 11vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .title2 {
    width: 11vw;
    height: 6.1vh;
    font-size: 1.3vw;
    font-weight: bold;
    background-color: rgb(18, 88, 168);
    color: #fff;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .textbox2 > li {
    width: 11vw;
    height: 6.1vh;
    background-color: rgb(187, 219, 255);
    list-style: none;
    font-size: 1vw;
    font-weight: bold;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .box0 {
    width: 70vw;
    height: 90vh;
    background-color: rgb(187, 219, 255);
    position: absolute;
    right: 5vw;
    margin-top: -5.1vh;
    border: 1px solid black;
  }
  #root .title0 {
    width: 70vw;
    height: 10.8vh;
    font-size: 1.3vw;
    background-color: rgb(18, 88, 168);
    font-weight: bold;
    color: #fff;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .textbox0 > li {
    width: 70vw;
    height: 58.8px;
    font-size: 1vw;
    font-weight: bold;
    background-color: rgb(187, 219, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  #root .footer {
    width: 80vw;
    height: 10vh;
    position: absolute;
    margin-top: -100vh;
    font-size: 1.8vw;
    font-weight: bold;
    color: #000;
    background-color: rgb(248, 232, 6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media all and (max-width: 800px) {
  #root {
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .return {
    width: 5vw;
    height: 5vh;
    margin-left: -90vw;
    margin-top: -100vh;
    position: absolute;
    font-size: 1vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .con {
    width: 90vw;
    height: 90vh;
    flex-direction: column;
    margin-bottom: -20vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #root .box {
    width: 20vw;
    height: 90vh;
  }
  #root .box1 {
    width: 20vw;
    height: 5vh;
    font-size: 2vw;
    font-weight: bold;
    background-color: rgb(18, 88, 168);
    color: #fff;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .box2 {
    width: 20vw;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #root .box2-1 {
    width: 9vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .title1 {
    width: 9vw;
    height: 6.1vh;
    font-size: 2.5vw;
    font-weight: bold;
    background-color: rgb(18, 88, 168);
    color: #fff;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .textbox1 > li {
    width: 9vw;
    height: 6.1vh;
    background-color: rgb(187, 219, 255);
    list-style: none;
    font-size: 1.5vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  #root .box2-2 {
    width: 11vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .title2 {
    width: 11vw;
    height: 6.1vh;
    font-size: 2vw;
    font-weight: bold;
    background-color: rgb(18, 88, 168);
    color: #fff;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .textbox2 > li {
    width: 11vw;
    height: 6.1vh;
    background-color: rgb(187, 219, 255);
    list-style: none;
    font-size: 1.5vw;
    font-weight: bold;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .box0 {
    width: 70vw;
    height: 80vh;
    background-color: rgb(187, 219, 255);
    position: absolute;
    right: 5vw;
    margin-top: -5vh;
    border: 1px solid black;
  }
  #root .title0 {
    width: 70vw;
    height: 10.9vh;
    font-size: 3vw;
    background-color: rgb(18, 88, 168);
    font-weight: bold;
    color: #fff;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .textbox0 > li {
    width: 70vw;
    height: 48.7px;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: rgb(187, 219, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  #root .footer {
    width: 80vw;
    height: 10vh;
    position: absolute;
    margin-top: -100vh;
    font-size: 2vw;
    font-weight: bold;
    color: #000;
    background-color: rgb(248, 232, 6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}