* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

body {
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 600vh;
}
#root .up {
  width: 100vw;
  height: 15vh;
  position: fixed;
  right: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#root .up > div {
  width: 5vw;
  height: 5vh;
  margin: 50px;
  background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #btn1 {
  font-size: 0.7vw;
  font-weight: bold;
}
#root .box1 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(177, 66, 66);
}
#root .box2 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(37, 26, 26);
}
#root .box3 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(57, 204, 130);
}
#root .box4 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(167, 189, 44);
}